$schedule_item_height:       60px;
$schedule_item_border-color: #dfe5eb;

.awebooking-schedule {
  &,
  * {
    box-sizing: border-box;
  }

  overflow: hidden;
  background-color: #fff;

  // TODO: ...
  margin-top: 50px;
}

.awebooking-schedule__aside {
  width: 260px;
  float: left;

  > ul {
    background: #f9f9f9;
    margin-top: $schedule_item_height;
  }

  > ul > li {
    margin-bottom: 0;
    height: $schedule_item_height;
  }

  > ul > li + li {
    border-top: solid 1px $schedule_item_border-color;
  }
}

.awebooking-schedule__table {
  overflow: auto;
  margin-left: 260px;

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    margin: 0;
    // border-top: 1px solid #dfe5eb;

    > li {
      margin: 0;
      float: left;
      display: block;
      min-width: 60px;
      height: 60px;
    }
  }
}

.awebooking-schedule__day {
  position: relative;
  // border-top: 1px solid #dfe5eb;

  font-size: 12px;
  color: #7a92a5;
  text-align: center;

  border: 1px solid #dfe5eb;
  border-top: 0;
  border-right: 0;
}

.awebooking-schedule__day--weekend {
  background-color: #f9f9f9;
}
.awebooking-schedule__day--today {
  background-color: #fffded;
}

.awebooking-schedule__tbody {
  z-index: 20;
  position: relative;
}


.awebooking-schedule__marker {
  position: absolute;
  width: 0;
  height: 0;
  white-space: nowrap;
  font-size: 14px;
  z-index: 30;
  pointer-events: none;

  background-color: rgba(33, 150, 243, 0.25);
  min-width: 60px;
  height: 60px;
}

.popper {
  z-index: 50;
  position: absolute;
}

.sevent {
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  background-color: rgba(#111, 0.25);
  z-index: 35;
  cursor: pointer;
}
