$schedule_item_height:       60px;
$schedule_item_border-color: #dfe5eb;

.awebooking-schedule {
  &,
  * {
    box-sizing: border-box;
  }

  overflow: hidden;
  background-color: #fff;
}

.awebooking-schedule__aside {
  width: 260px;
  float: left;

  > ul {
    background: #f9f9f9;
    margin-top: 0;
    // margin-top: $schedule_item_height;
  }

  > ul > li {
    margin-bottom: 0;
    height: $schedule_item_height;
  }

  > ul > li + li {
    border-top: solid 1px $schedule_item_border-color;
  }
}

.awebooking-schedule__tbody {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
}

.awebooking-schedule__table {
  overflow: auto;
  margin-left: 260px;
}

.awebooking-schedule__table > header > ul,
.awebooking-schedule__row {
  height: $schedule_item_height;

  display: flex;
  flex: 1 1 0%;
  // flex-direction: row;
  // flex-wrap: nowrap;

  margin: 0;
  position: relative;
  // border-top: 1px solid #dfe5eb;
}

.awebooking-schedule__days {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
}

.awebooking-schedule__day {
  margin: 0;

  min-width: 60px;
  // height: 60px;

  flex: 1 1 0%;
}



.awebooking-schedule__day-heading,
.awebooking-schedule__day {
  position: relative;
  // border-top: 1px solid #dfe5eb;

  font-size: 12px;
  color: #7a92a5;
  text-align: center;

  border: 1px solid #dfe5eb;
  border-top: 0;
  border-right: 0;
}

.awebooking-schedule__day--weekend {
  background-color: #f9f9f9;
}
.awebooking-schedule__day--today {
  background-color: #fffded;
}

.awebooking-schedule__tbody {
  z-index: 20;
  position: relative;
}


.awebooking-schedule__marker {
  position: absolute;
  width: 0;
  height: 0;
  white-space: nowrap;
  font-size: 14px;
  z-index: 30;
  pointer-events: none;

  background-color: rgba(33, 150, 243, 0.25);
  min-width: 60px;
  height: 60px;
}

.popper {
  z-index: 50;
  position: absolute;
}

.awebooking-schedule__events {
  display: flex;
}

.awebooking-schedule__cell-event {
  flex: 1 1 auto;
  min-width: 60px;
  position: relative;
  pointer-events: none;
}

.awebooking-schedule__event {
  left: 0;
  top: 0;
  height: 100%;
  position: absolute;
  background: url('../img/blocked-pattern.png') rgba(#000, .01);
  z-index: 35;

  cursor: pointer;
  pointer-events: auto;

  &:hover {
    background-color: rgba(#000, .05);
  }
}
